Repository jenkinsci/authorize-project-plugin, pull requests merged in 2023-07, with the labels that each got.

#161 Use Jenkinsfile from plugin archetype
  Jenkinsfile
Labels: chore

#163 Match dependabot definition to GitHub docs
  .github/dependabot.yml
Labels: chore

#167 Parallelize tests
  pom.xml
Labels: test

#168 Replace public repo with releases repo
  pom.xml
Labels: chore

#171 Use plugin bom 2278.v47b_4508e256a
  pom.xml
Labels: dependencies
