Repository jenkinsci/authorize-project-plugin, pull requests merged in 2023-03, with the labels that each got.

#128 Refresh plugin
  Jenkinsfile
  pom.xml
Labels: chore

#129 [JENKINS-56774] Add JCasC support
  pom.xml
  src/main/java/org/jenkinsci/plugins/authorizeproject/ProjectQueueItemAuthenticator.java
  src/main/java/org/jenkinsci/plugins/authorizeproject/strategy/SpecificUsersAuthorizationStrategy.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/ProjectQueueItemAuthenticatorTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/testutil/AuthorizeProjectJenkinsRule.java
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.config.AnonymousAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.config.SpecificUsersAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.config.SystemAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.config.TriggeringUsersAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.export.AnonymousAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.export.SpecificUsersAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.export.SystemAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/global.export.TriggeringUsersAuthorizationStrategy.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/project.config.all.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/project.export.all.yml
  src/test/resources/org/jenkinsci/plugins/authorizeproject/ConfigurationAsCodeTest/strategyEnabledMapMigration/jenkins.security.QueueItemAuthenticatorConfiguration.xml
Labels: enhancement

#49 Check a condition rather than catch an exception
  src/main/java/org/jenkinsci/plugins/authorizeproject/AuthorizeProjectStrategy.java
Labels: chore

#131 Small Code Improvements
  src/main/java/org/jenkinsci/plugins/authorizeproject/AuthorizeProjectStrategyDescriptor.java
  src/main/java/org/jenkinsci/plugins/authorizeproject/strategy/SpecificUsersAuthorizationStrategy.java
  src/main/resources/org/jenkinsci/plugins/authorizeproject/AuthorizeProjectProperty/help-strategy.groovy
  src/test/java/org/jenkinsci/plugins/authorizeproject/ProjectQueueItemAuthenticatorTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/strategy/AnonymousAuthorizationStrategyTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/strategy/SpecificUsersAuthorizationStrategyTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/strategy/SystemAuthorizationStrategyTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/strategy/TriggeringUsersAuthorizationStrategyTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/testutil/AuthorizationCheckBuilder.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/testutil/AuthorizeProjectJenkinsRule.java
Labels: chore

#132 Replace usage of deprecated ACL methods
  src/test/java/org/jenkinsci/plugins/authorizeproject/strategy/SpecificUsersAuthorizationStrategyTest.java
  src/test/java/org/jenkinsci/plugins/authorizeproject/strategy/TriggeringUsersAuthorizationStrategyTest.java
Labels: test
